 @media (max-width:1200px) {
     html {
         font-size: 70%;
     }
 }
 
 @media (max-width: 991px) {
     html {
         font-size: 60%;
     }
     .main_menu {
         position: absolute;
         left: 0;
         right: 0;
         top: -1000%;
         background: #333;
     }
     .main_menu ul {
         flex-direction: column;
         text-align: center;
     }
     .main_menu ul li {
         width: 100%;
     }
     .main_menu ul li a {
         display: inline-block;
         border-top: 1px solid rgba(255, 255, 255, 03);
         width: 100%;
     }
     .menu_bar {
         display: block;
     }
     .search_form {
         border-radius: 5px;
     }
     .booking {
         grid-template-columns: 1fr;
     }
     .packages,
     .gallery,
     .service,
     .footer_content {
         grid-template-columns: 1fr 1fr;
     }
     .contact_content {
         grid-template-columns: 1fr;
     }
     .single_gallery.big {
         grid-column: span 2;
     }
 }
 
 @media (max-width:768px) {
     html {
         font-size: 80%;
     }
     .packages,
     .gallery,
     .service,
     .footer_content {
         grid-template-columns: 1fr;
     }
     .single_gallery.big {
         grid-column: span 1;
     }
     .footer_content {
         grid-template-columns: 1fr 1fr;
     }
     .follow_us,
     .location {
         text-align: right;
     }
 }